<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>
<body class="login-body">
    <div class="login-card">
        <h2>Control de Vehiculos</h2>
        <h3>Iniciar Sesión</h3>

        <p class="alert-danger">mensajes</p>

        <form action="" method="post" class="login-form">
            <div class="form-group">
                <label for="idUsuario">Usuario:</label>
                <input type="text" name="txtUsuario" id="idUsuario" required placeholder="Ingrese su usuario">
            </div>
            <div class="form-group">
                <label for="idClave">Clave:</label>
                <input type="password" id="idClave" name="txtClave" required placeholder="Ingrese su Clave">
            </div>

            <button type="submit" class="btn btn-primary-block">Ingresar</button>
        </form>

    </div>

</body>
</html>